body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: gray;
}

.title{
  padding-bottom: 30px;
}

.shop-now{
  /* border-style: double; */
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: center;
  text-emphasis-color: lightsteelblue;
  }

.shop-now a.button{
  border-style: double;
  color: black;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-decoration: none;
}

.account{
  /* border-style: double; */
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: center;
  text-emphasis-color: lightsteelblue;
  }

.login a.button{
  border-style: double;
  color: black;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-decoration: none;
}

.signup a.button{
  border-style: double;
  color: black;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-decoration: none;
}


.container{
  background-color: lightblue;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-left: 30px;
}

p{
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  border-style: dashed;
  text-align: center;
  background-color: lightgrey;
  color: black;
}

.title{
  text-align: center;
  color: darkslategrey;
}

.top-nav-bar {
  background-color: black;
  overflow: hidden;
  max-height: 50px;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.top-nav-bar a {
  float: center;
  color: whitesmoke;
  text-align: left;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  text-decoration: none;
  font-size: 17px;
}

a:hover {
  background-color: lightsteelblue;
  color: black;
}

.top-nav-bar a.active {
  background-color: lightsteelblue;
  height: 60px;
  color: black;
}

img{
  float: up,left ;
  width: 20px;
  height:20px;
  padding: 0 10px 0 0;
}

.profile{
  float: up;
  text-align: right;
}

.column{
  float: left;
  width: 50%;
  text-align: center;
  color: whitesmoke;
}

.contact-us{
  color: whitesmoke;
  text-align: center;
  grid-column-start: 1;  
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.socials{
  color: whitesmoke;
  text-align: center;
  grid-column-start: 3;  
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
