body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: lightblue;
}



.top-nav-bar {
  background-color: black;
  overflow: hidden;
  max-height: 50px;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.top-nav-bar a {
  float: center;
  color: whitesmoke;
  text-align: left;
  padding: 20px;
  text-decoration: none;
  font-size: 17px;
}

.top-nav-bar a:hover {
  background-color: lightsteelblue;
  border-radius: 60px;
  color: black;
}

.title{
  text-align: center;
  color: white;
  font-size: 25px;
}

.shop-now{
  
  text-align: center;
  text-emphasis-color: lightsteelblue;
  padding-top:40px;
  }

.shop-now a{
  border-style: double;
  color: black;
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
}

.container{
  display: grid;
  grid-template-rows: 1fr 6fr 3fr;
}

/*
.container div{
  border: 1px solid red;
}
*/
p{
  padding:30px;
  margin-left: 30px;
  margin-right: 30px;
  border-style: dashed;
  text-align: center;
  color: white;
  background-color: black;
}



.footer-container{
  max-width: 1170px;
  margin: auto; 
}

.row{
  display: flex;
  flex-wrap: wrap;
}


.footer ul{
  list-style: none;
}

.footer{
  background-color: black;
  padding: 70px 0;
}

.footer-col{
  width: 25%;
  /*padding: 0 15px;*/
}

.footer-col h4{
  padding-left: 45px;
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before{
  content: '';
  position:absolute;
  left:49px;
  bottom: -10px;
  background-color: white;
  height: 2px;
  box-sizing: border-box;
  width: 50px;

}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}


.footer-col ul li a:hover{
  color:#ffffff;
  padding-left: 8px;
}

.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin-right: 0px 10px 10px 0;
  line-height: 45px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

@media(max-width: 767px){
  .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
}

@media(max-width: 574px){
  .footer-col{
      width: 100%;
      margin-bottom: 30px;
  }
}