<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <title>AboutUs</title>
</head>
<body>
    <div class="header" id="Home">
        <a href="Homepage.html"><strong>Home</strong></a>
    </div>

    <div class="header" id="Products">
        <a href="Product.html"><strong>Products</strong></a>
    </div> 
    <div class="container">

        <div class="text" id="Aboutus">
            <h2>About Us</h2>
            <p>
                From <strong>Head to Toe</strong> we want to make your life that much better bringing a refreshing and soothing era into your life. We work diligently to bring you diverse products that are safe, nourishing and unique to your routine self care bringing balance to your daily life.
            </p>
            <a href="MeetUs.html"><strong>Meet Us</strong></a>
        </div>
    </div>
</body>
</html>