<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Account</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class = "container">
      <div class = "top-nav-bar"> 
        <a href="index.html">Home</a>
        <a href="Products.html">Products</a>
        <a href="Aboutus.html">About Us</a>
        <div class = "profile">
        <a class="active" href="Account.html">Sign In/Register <img src="white-icon.jpeg" alt=""></a> 
        <a href="Cart"><img src="cart.png" alt = ""></a>
      </div>
      </div>
    </div>

    <div class = "container">
      <div class = "account">
        <div class = "login">
          <p>LOGIN TO YOUR ACCOUNT OR SIGN UP FOR A FREE ACCOUNT</p>
           <a class = "button" href="Login.html">LOGIN</a>
          <a class = "button" href="Signup.html">SIGNUP</a>
        </div>
      </div>
    </div>
    
    
    
  </body>
</html>