<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Homepage</title>
    <link href="Static/Css/homepagestyle.css" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <div class = "top-nav-bar"> 
      <a class="active" href="Homepage.html">Home</a>
      <a href="Product.html">Products</a>
      <a href="Aboutus.html">About Us</a>
      <div class = "profile">
        <a href="Register">Sign In/Register <img src="images/white-icon.jpeg" alt=""></a> 
        <a href="Cart"><img src="images/cart.png" alt = ""></a>
      </div>
    </div>

    <div class = "container">
      <div class = "title"> 
        <h2>HEAD TO TOE</h2>
        <h3>Luxury body care products to make your skin glow!</h3>
      </div>

      <div>
        <p>Head to Toe is a luxary skin care brand made for college students, by college students. We understand the financial struggles being a college student. Therefore, we made this brand so body can feel luxurious, without hurting your pocket.</p>
      </div>

      <div class = "shop-now">
       <a class = "button" href="Product.html">SHOP NOW</a>
      </div>

      <footer>
        <div class = "contact-us">
          <h4>Contact Us</h4>
          <address>1111 SDS Street NW</address>
          <address>Cool Cats, USA</address>
          <address>222-555-3333</address>
        </div>
        <div class = "socials">
          <address>Intagram: @headto.toe</address>
          <address>Facebook: Head to Toe</address>
          <address>Twitter: @headto.toe</address>
        </div>
      </footer>

    </div>
  </body>

</html>
