<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/inventory_all_items.css') }}">
    <title>inventory_view</title>
</head>
<body>
    <a class="all_products" href="/inventory_view">All products</a>
    <div class="nav-bar">
      {% for product in Type_of_Product%}
          <a href='/product_type_view/{{ product }}'>{{ product }}</a>
      {% endfor %}
      </div>
      
      
      <h2><a class="add" href='/new'>Add to Inventory</a></h2>
      <h2>{{ label }} Products</h2>
      <div class="product-list">
        <ul>
          {% for product in products %}
            <ol><a href='/items/{{ product._id }}'>{{ product.name }}</a></ol>
          {% endfor %}
        </ul>
      </div>

</body>
</html>