<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Item Name</h1>
    <div class="container">
        <div id="picture">
            <img src="">
        </div>

        <div class="data">
            <h3 id="price">price</h3>
            <h3 id="stock">stock</h3>
            <h3 id="Last Restock">Last Restock</h3>
        </div>

        <form method="post" action="">
            <h2>Update Item</h2>
            <label for="stock">Stock</label>
            <input type="number" name="stock">

            <label for="price">Price</label>
            <input type="number" name="price">
        </form>

        <div>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium iure quisquam est dolor enim sunt voluptates quis repellendus eos neque, blanditiis fuga perferendis aliquid, aspernatur pariatur numquam natus! Veniam, harum!
            </p>
        </div>

    </div>
    
</body>
</html>