<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/user.css') }}">
</head>
  
<body>
    <div class="login">
        <h1>Login</h1>
        <form method="post" action="/login">
            <div class="text_input">
                <span></span>
                <label for="user_name">Username:</label>
                <input type="text" name="user_name" value="">
            </div>
            <div class="text_input">
                <label for="password">Password:</label>
                <input type="password" name="password" value="">
                <span></span>
            </div>
            <input type="submit" value="Submit">

            <div class="signup">
                Not a member?<a href='/signup'>Signup</a>
            </div>
        </form>
    </div>
    <p><a href="/">Cancel</a></p>
  </div>
</body>
</html>
