<!DOCTYPE html>
<html lang="en">
  
<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Sign Up</title>
</head>
 -->
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Homepage</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/signup.css') }}">
</head>
  
<body>
  <div class="signup">
  
    <h1>Sign Up</h1>
    <form method="post" action="/signup">
        <div class="text_input">
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" value="">
        </div>

      <div class="text_input">
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" value="">
        </div>
      
      <div class="text_input">
            <label for="email">Email Address:</label>
            <input type="text" name="email" value="">
        </div>

      <div class="text_input">
            <label for="month">Birth Month:</label>
            <input type="text" name="month" value="">
        </div>
      
      <div class="text_input">
            <label for="year">Birth Year:</label>
            <input type="text" name="year" value="">
        </div>
      
      <div class="text_input"> 
            <label for="user_name">Username:</label>
            <input type="text" name="user_name" value="">
        </div>

        <div class="text_input">
            <label for="password">Password:</label>
            <input type="password" name="password" value="">
        </div>
        <input type="submit" value="Submit">
      
    </form>
    <div class="cancel">
        <a href="/">Cancel</a>
    </div>
  </div>
</body>
</html>
